.ipynb_checkpoints/
__pycache__
Output/*
test_code.ipynb
datasets/shapefiles/MacroalgalCanopyCover_EOV_2023/*
datasets/shapefiles/ground-truth/
datasets/imagery/
datasets/imagery/mixed_habitat
datasets/shapefiles/2015-2019 Lindisfarne/
Output_Tiff/
assignment.qgz
groud-truth/
TCI/*
TCI/*.tif
ground-truth/*.tif
!TCI/20191211/Patches/*
!TCI/20191027/Patches/*
!TCI/20190627/Patches/*
!TCI/20190227/Patches/*
!TCI/20190123/Patches/*
!TCI/20181224/Patches/*
!TCI/20181010/Patches/*
!TCI/20180624/Patches/*
!TCI/20171126/Patches/*
!TCI/20171116/Patches/*
!TCI/20170717/Patches/*
!TCI/20170525/Patches/*
!TCI/20170125/Patches/*
!TCI/20161226/Patches/*
!TCI/20161129/Patches/*
!TCI/20161116/Patches/*
!TCI/20160609/Patches/*
!TCI/20160420/Patches/*
!TCI/20160210/Patches/*
!TCI/20151125/Patches/*
!ground-truth/20191211/Patches/*
!ground-truth/20191027/Patches/*
!ground-truth/20190627/Patches/*
!ground-truth/20190227/Patches/*
!ground-truth/20190123/Patches/*
!ground-truth/20181224/Patches/*
!ground-truth/20181010/Patches/*
!ground-truth/20180624/Patches/*
!ground-truth/20171126/Patches/*
!ground-truth/20171116/Patches/*
!ground-truth/20170717/Patches/*
!ground-truth/20170525/Patches/*
!ground-truth/20170125/Patches/*
!ground-truth/20161226/Patches/*
!ground-truth/20161129/Patches/*
!ground-truth/20161116/Patches/*
!ground-truth/20160609/Patches/*
!ground-truth/20160420/Patches/*
!ground-truth/20160210/Patches/*
!ground-truth/20151125/Patches/*
*.h5
*.keras